make-automations/unified-pipeline.json
{
  "name": "FinApply — Unified Email Pipeline",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0, "name": "FinApply Webhook" },
        "restore": {},
        "expect": [
          { "name": "action", "type": "text", "label": "Action Type" },
          { "name": "full_name", "type": "text", "label": "Full Name" },
          { "name": "email", "type": "text", "label": "Email" },
          { "name": "linkedin_url", "type": "text", "label": "LinkedIn URL" },
          { "name": "college_or_firm", "type": "text", "label": "College or Firm" },
          { "name": "city", "type": "text", "label": "City" },
          { "name": "current_status", "type": "text", "label": "Current Status" },
          { "name": "target_role", "type": "text", "label": "Target Role" },
          { "name": "essay", "type": "text", "label": "Essay" },
          { "name": "deal_room_url", "type": "text", "label": "Deal Room URL" },
          { "name": "fiss_score", "type": "number", "label": "FISS Score" },
          { "name": "report_url", "type": "text", "label": "Report URL" },
          { "name": "pdf_url", "type": "text", "label": "PDF URL" },
          { "name": "evaluator_summary", "type": "text", "label": "Evaluator Summary" },
          { "name": "standout_strength", "type": "text", "label": "Standout Strength" },
          { "name": "critical_gap", "type": "text", "label": "Critical Gap" },
          { "name": "loom_url", "type": "text", "label": "Loom Walkthrough URL" }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": { "x": 300, "y": 0, "name": "Route by Action" }
      },
      "routes": [
        {
          "label": "New Application",
          "filter": {
            "name": "Is New Application",
            "conditions": [[{ "a": "{{1.action}}", "b": "new_application", "o": "text:equal" }]]
          },
          "flow": [
            {
              "id": 3,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": {},
              "mapper": {
                "url": "https://finapply.vercel.app/api/webhooks/make/application",
                "method": "post",
                "headers": [],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": true,
                "contentType": "application/json",
                "body": "{\n  \"full_name\": \"{{1.full_name}}\",\n  \"email\": \"{{1.email}}\",\n  \"linkedin_url\": \"{{1.linkedin_url}}\",\n  \"college_or_firm\": \"{{1.college_or_firm}}\",\n  \"city\": \"{{1.city}}\",\n  \"current_status\": \"{{1.current_status}}\",\n  \"target_role\": \"{{1.target_role}}\",\n  \"essay\": \"{{1.essay}}\",\n  \"webhook_secret\": \"finapply-webhook-2026-secret\"\n}"
              },
              "metadata": {
                "designer": { "x": 600, "y": -300, "name": "POST to FinApply API" }
              }
            },
            {
              "id": 4,
              "module": "google-email:ActionSendAnEmail",
              "version": 2,
              "parameters": { "account": null },
              "mapper": {
                "to": "chinmaykhatri495@gmail.com",
                "subject": "🔔 New Application — {{1.full_name}} — {{1.target_role}}",
                "html": "<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;background:#000;color:#fff;padding:40px;border-radius:16px\"><div style=\"border-bottom:1px solid #222;padding-bottom:20px;margin-bottom:24px\"><h1 style=\"font-size:20px;font-weight:600;margin:0\">New Beta Application</h1><p style=\"font-size:12px;color:#666;margin-top:4px\">FinApply.ai · Founding Cohort</p></div><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#666;font-size:13px\">Name</td><td style=\"padding:8px 0;color:#fff;font-size:13px;font-weight:500\">{{1.full_name}}</td></tr><tr><td style=\"padding:8px 0;color:#666;font-size:13px\">Email</td><td style=\"padding:8px 0;color:#fff;font-size:13px\">{{1.email}}</td></tr><tr><td style=\"padding:8px 0;color:#666;font-size:13px\">Role</td><td style=\"padding:8px 0;color:#2563EB;font-size:13px;font-weight:500\">{{1.target_role}}</td></tr><tr><td style=\"padding:8px 0;color:#666;font-size:13px\">College/Firm</td><td style=\"padding:8px 0;color:#fff;font-size:13px\">{{1.college_or_firm}}</td></tr><tr><td style=\"padding:8px 0;color:#666;font-size:13px\">LinkedIn</td><td style=\"padding:8px 0;font-size:13px\"><a href=\"{{1.linkedin_url}}\" style=\"color:#2563EB\">Profile</a></td></tr></table><div style=\"margin-top:24px;padding:16px;background:#111;border-radius:10px\"><p style=\"font-size:11px;color:#666;margin:0 0 6px\">ESSAY</p><p style=\"font-size:13px;color:#999;line-height:1.5;margin:0\">{{1.essay}}</p></div><div style=\"margin-top:24px;text-align:center\"><a href=\"https://finapply.vercel.app/admin\" style=\"display:inline-block;padding:10px 24px;background:#2563EB;color:#fff;border-radius:100px;text-decoration:none;font-size:13px;font-weight:500\">Review in Admin</a></div></div>"
              },
              "metadata": {
                "designer": { "x": 900, "y": -300, "name": "Email Admin Notification" }
              }
            }
          ]
        },
        {
          "label": "Accept Candidate",
          "filter": {
            "name": "Is Accept",
            "conditions": [[{ "a": "{{1.action}}", "b": "accept", "o": "text:equal" }]]
          },
          "flow": [
            {
              "id": 5,
              "module": "google-email:ActionSendAnEmail",
              "version": 2,
              "parameters": { "account": null },
              "mapper": {
                "to": "{{1.email}}",
                "subject": "You're in — Your Deal Room is ready, {{1.full_name}}",
                "html": "<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;background:#000;color:#fff;padding:40px;border-radius:16px\"><div style=\"text-align:center;padding-bottom:24px;border-bottom:1px solid #222\"><p style=\"font-size:11px;color:#2563EB;letter-spacing:3px;font-weight:600;margin:0\">FINAPPLY.AI</p></div><div style=\"padding:32px 0;text-align:center\"><div style=\"display:inline-block;background:rgba(22,163,74,0.1);border:1px solid rgba(22,163,74,0.2);border-radius:100px;padding:6px 16px;margin-bottom:20px\"><span style=\"font-size:12px;color:#16A34A;font-weight:500\">ACCEPTED</span></div><h1 style=\"font-size:24px;font-weight:600;margin:0 0 8px\">Congratulations, {{1.full_name}}!</h1><p style=\"font-size:14px;color:#666;line-height:1.6;margin:0\">You have been accepted into FinApply's founding cohort of 100 candidates.</p></div><div style=\"background:#111;border-radius:12px;padding:24px;margin:16px 0;border:1px solid #222\"><p style=\"font-size:12px;color:#666;margin:0 0 8px\">YOUR DEAL ROOM</p><p style=\"font-size:14px;color:#fff;line-height:1.5;margin:0 0 16px\">Your personalized simulation is ready. You'll analyze a real {{1.target_role}} case and receive your FISS report.</p><div style=\"text-align:center\"><a href=\"{{1.deal_room_url}}\" style=\"display:inline-block;padding:12px 32px;background:#2563EB;color:#fff;border-radius:100px;text-decoration:none;font-size:14px;font-weight:500\">Enter Deal Room</a></div></div><div style=\"margin-top:20px;padding:16px;background:rgba(217,119,6,0.06);border-left:3px solid #D97706;border-radius:0 8px 8px 0\"><p style=\"font-size:12px;color:#D97706;margin:0 0 4px;font-weight:500\">Important</p><p style=\"font-size:13px;color:#999;line-height:1.5;margin:0\">You have <strong style=\"color:#fff\">90 minutes</strong> to complete your analysis once you start.</p></div><div style=\"margin-top:32px;padding-top:20px;border-top:1px solid #222;text-align:center\"><p style=\"font-size:11px;color:#444;margin:0\">FinApply.ai · Founding Cohort · Batch 1</p></div></div>"
              },
              "metadata": {
                "designer": { "x": 600, "y": -100, "name": "Send Acceptance Email" }
              }
            }
          ]
        },
        {
          "label": "Reject Candidate",
          "filter": {
            "name": "Is Reject",
            "conditions": [[{ "a": "{{1.action}}", "b": "reject", "o": "text:equal" }]]
          },
          "flow": [
            {
              "id": 6,
              "module": "google-email:ActionSendAnEmail",
              "version": 2,
              "parameters": { "account": null },
              "mapper": {
                "to": "{{1.email}}",
                "subject": "FinApply Beta — Application Update",
                "html": "<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;background:#000;color:#fff;padding:40px;border-radius:16px\"><div style=\"text-align:center;padding-bottom:24px;border-bottom:1px solid #222\"><p style=\"font-size:11px;color:#2563EB;letter-spacing:3px;font-weight:600;margin:0\">FINAPPLY.AI</p></div><div style=\"padding:32px 0\"><h1 style=\"font-size:22px;font-weight:600;margin:0 0 16px\">Hi {{1.full_name}},</h1><p style=\"font-size:14px;color:#999;line-height:1.7;margin:0 0 16px\">Thank you for your interest in FinApply's founding cohort.</p><p style=\"font-size:14px;color:#999;line-height:1.7;margin:0 0 16px\">Applications have been extremely competitive — we received far more qualified applications than available spots in this cohort.</p><p style=\"font-size:14px;color:#999;line-height:1.7;margin:0 0 16px\">We were unable to offer you a spot in this batch, but your application stood out and we encourage you to apply again when the next cohort opens.</p><div style=\"margin-top:24px;padding:16px;background:#111;border-radius:10px;border:1px solid #222\"><p style=\"font-size:13px;color:#666;line-height:1.5;margin:0\">We'll notify you via email when Batch 2 applications open.</p></div></div><div style=\"margin-top:16px;padding-top:20px;border-top:1px solid #222;text-align:center\"><p style=\"font-size:11px;color:#444;margin:0\">FinApply.ai · Founding Cohort</p></div></div>"
              },
              "metadata": {
                "designer": { "x": 600, "y": 100, "name": "Send Rejection Email" }
              }
            }
          ]
        },
        {
          "label": "Send FISS Report",
          "filter": {
            "name": "Is Send Report",
            "conditions": [[{ "a": "{{1.action}}", "b": "send_report", "o": "text:equal" }]]
          },
          "flow": [
            {
              "id": 7,
              "module": "google-email:ActionSendAnEmail",
              "version": 2,
              "parameters": { "account": null },
              "mapper": {
                "to": "{{1.email}}",
                "subject": "Your FISS Score Report is Ready — {{1.fiss_score}}/100",
                "html": "<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;background:#000;color:#fff;padding:40px;border-radius:16px\"><div style=\"text-align:center;padding-bottom:24px;border-bottom:1px solid #222\"><p style=\"font-size:11px;color:#2563EB;letter-spacing:3px;font-weight:600;margin:0\">FINAPPLY.AI</p></div><div style=\"padding:32px 0;text-align:center\"><p style=\"font-size:11px;color:#666;letter-spacing:2px;margin:0 0 12px\">YOUR FISS SCORE</p><div style=\"display:inline-block;width:100px;height:100px;border-radius:50%;border:3px solid #2563EB;line-height:100px;text-align:center;margin-bottom:16px\"><span style=\"font-size:36px;font-weight:700\">{{1.fiss_score}}</span></div><p style=\"font-size:11px;color:#666;margin:0\">out of 100</p></div><div style=\"background:#111;border-radius:12px;padding:20px;margin:16px 0;border:1px solid #222\"><p style=\"font-size:12px;color:#666;margin:0 0 6px\">EVALUATOR SUMMARY</p><p style=\"font-size:14px;color:#ccc;line-height:1.6;margin:0;font-style:italic\">{{1.evaluator_summary}}</p></div><div style=\"padding:14px;background:rgba(22,163,74,0.06);border-left:3px solid #16A34A;border-radius:0 8px 8px 0;margin:16px 0\"><p style=\"font-size:10px;color:#16A34A;letter-spacing:1px;margin:0 0 4px;font-weight:600\">STRENGTH</p><p style=\"font-size:12px;color:#999;line-height:1.4;margin:0\">{{1.standout_strength}}</p></div><div style=\"padding:14px;background:rgba(217,119,6,0.06);border-left:3px solid #D97706;border-radius:0 8px 8px 0;margin:16px 0\"><p style=\"font-size:10px;color:#D97706;letter-spacing:1px;margin:0 0 4px;font-weight:600\">AREA TO DEVELOP</p><p style=\"font-size:12px;color:#999;line-height:1.4;margin:0\">{{1.critical_gap}}</p></div><div style=\"text-align:center;margin-top:24px\"><a href=\"{{1.report_url}}\" style=\"display:inline-block;padding:12px 32px;background:#2563EB;color:#fff;border-radius:100px;text-decoration:none;font-size:14px;font-weight:500;margin-bottom:12px\">View Full Report</a><br/><a href=\"{{1.pdf_url}}\" style=\"font-size:12px;color:#666;text-decoration:underline\">Download PDF Report</a></div><div style=\"margin-top:32px;padding-top:20px;border-top:1px solid #222;text-align:center\"><p style=\"font-size:11px;color:#444;margin:0\">Evaluated by human + AI collaboration</p><p style=\"font-size:10px;color:#333;margin-top:4px\">FinApply.ai · FISS Score v1.0</p></div></div>"
              },
              "metadata": {
                "designer": { "x": 600, "y": 300, "name": "Send FISS Report Email" }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    }
  }
}
